#workout-page-wrapper {
  display: flex;
  flex-direction: column;
}

.training-log-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.workout-list {
  padding: 1rem;
}

.workout {
  background: #fff;
  text-align: left;
  border-left: 1rem solid black;
  border-radius: 1rem;
  padding: 0.5rem;
}

.workout-info-wrapper {
  width: 25rem;
  text-align: left;
}

.workout-info {
  background-color: #fff;
  height: 8rem;
  padding: 0.33rem;
  margin: 0.75rem auto;
  border-left: 0.5rem solid black;
  border-radius: 0.5rem;
  cursor: pointer;
  text-align: left;
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.workout-info .workout-name, .workout-date {
  font-weight: bold;
}

.workout-date {
  margin: 0.75rem;
  font-size: 1rem;
  color: #19191f;
}

.workout-info h3 {
  padding: 0;
}

.workout-info-divider {
  text-align: center;
}

.workout-button {
  justify-content: space-between;
  gap: 0.2rem;
  font-size: 0.85rem;
  width: 7rem;
  height: 2.75rem;
  margin: 0.5rem;
}

.login-page-wrap, .register-page-wrap {
  margin: auto;
  width: 25rem;
}

.login-field, .register-field {
  width: 25rem;
  height: 3rem;
  border-radius: 0.75rem;
  padding-left: 0.5rem;
  margin: 0.5rem;
  font-size: 1.2rem;
  border-style: none;
}

.login-button, .register-button, .logout-button, .workout-button{
  color: #13010a;
  border-radius: 1rem;
}

.login-link, .register-link {
  color: #ab5cff;
  text-decoration: none;
  cursor: pointer;
}

.login-info-field, .register-info-field{
  font-size: 1.25rem;
}

.logout-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 0.2rem;
  font-size: 1.3rem;
  width: 7rem;
  height: 2.75rem;
  margin: 0.5rem;
}

.logout-button .logout-button-icon {
  width: 1.2rem;
}

.logout-button .logout-button-text {
  display: inline-flex;
  align-items: center;
}